body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #140a32;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 150px;
}

/* HEADER */

.header {
  padding: 40px 0 30px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header-content img {
  height: 38px;
}

.header-search {
  display: flex;
  align-items: center;
}

.header-search input {
  background-color: rgba(47, 43, 67, 0.04);
  padding: 15px 20px;
  width: 427px;
  border: none;
  outline: none;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.header-search input::placeholder {
  color: rgba(47, 43, 67, 0.4);
}

.header-search button {
  border: none;
  outline: none;
  background-color: rgba(47, 43, 67, 0.04);
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding: 9px 20px;
}
.header-search button:hover {
  cursor: pointer;
}

.header-search button img {
  height: 24px;
}

.header-question {
  width: 192px;
  display: flex;
  align-items: center;
  background-color: rgba(51, 131, 110, 1);
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 20px;
}

.header-question img {
  height: 24px;
  margin-right: 10px;
}

.header-question p {
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}

.header-contact a {
  text-decoration: none;
  color: rgba(20, 10, 50, 1);
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.header-contact p {
  color: rgba(47, 43, 67, 0.5);
  font-size: 14px;
}

.header-contact-button {
  text-decoration: none;
  display: flex;
  align-items: center;
  border: 1px solid rgba(47, 43, 67, 0.15);
  border-radius: 10px;
  color: rgba(20, 10, 50, 1);
  padding: 11px 20px;
}

.header-contact-button img {
  margin-right: 10px;
}

.nav {
  display: flex;
}

.nav a {
  text-decoration: none;
  margin-right: 30px;
  color: rgba(20, 10, 50, 1);
}

.header-login {
  display: flex;
  align-items: center;
}

.header-login img {
  height: 24px;
}

.header-login a {
  text-decoration: none;
  color: rgba(20, 10, 50, 1);
}

/* Main */

.main-target {
  color: rgba(47, 43, 67, 0.5);
  margin-bottom: 49px;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-content:first-child {
  margin-right: 106px;
}

.main-content div h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 51, 75px;
  margin-bottom: 15px;
  width: 657px;
}

.main-content > div > p {
  color: rgba(20, 10, 50, 1);
  margin-bottom: 30px;
  border-left-width: 25.6px;
  font-size: 16px;
  width: 657px;
}

.main-question {
  display: flex;
  margin-bottom: 40px;
}

.main-question > a {
  text-decoration: none;
  padding: 16px 36px;
  margin-right: 30px;
  background-color: rgba(51, 131, 110, 1);
  border-radius: 10px;
  color: rgba(255, 255, 255, 1);
}

.main-question div a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  color: rgba(51, 131, 110, 1);
  padding-bottom: 2px;
  border-bottom: 2px solid rgba(51, 131, 110, 1);
}

.main-question div p {
  color: rgba(47, 43, 67, 0.5);
  font-size: 12px;
  font-weight: 400;
  padding-top: 7px;
}

.main-plus {
  display: flex;
  margin-bottom: 100px;
}

.main-plus div {
  display: flex;
  margin-right: 30px;
}

.main-plus div p {
  color: rgba(20, 10, 50, 1);
  margin-left: 10px;
}

/* Help */

.help {
  margin-bottom: 80px;
}

.help h2 {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 700;
  line-height: 43, 58px;
}

.help h2:last-of-type {
  margin-bottom: 15px;
  margin-top: 80px;
}

.help-subtitle {
  margin-bottom: 10px;
  color: rgba(20, 10, 50, 1);
}

.help-content {
  display: flex;
  margin-bottom: 80px;
  margin-top: 30px;
}

.help-content div {
  border: 1px solid rgba(47, 43, 67, 0.15);
  border-radius: 20px;
  padding: 20px;
  margin-right: 20px;
  width: 25%;
}

.help-content div img {
  height: 24px;
  margin-bottom: 15px;
}

.help-content div p {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  color: rgba(20, 10, 50, 1);
  margin-bottom: 35px;
}

.help-number {
  text-decoration: none;
  color: rgba(20, 10, 50, 1);
  font-size: 20px;
  font-weight: 700;
  display: block;
  margin-bottom: 15px;
}

.help-button {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: rgba(51, 131, 110, 1);
}

.help-call {
  background-color: rgba(51, 131, 110, 1);
  border-radius: 20px;
  position: relative;
  padding: 50px 0 50px 0;
}

.help-call-woman {
  position: absolute;
  bottom: 0;
  left: 36px;
  z-index: 2;
  height: 180px;
}

.help-call-ellipse {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.help-call-content {
  display: flex;
  align-items: center;
  margin-left: 350px;
}

.help-call-content div {
  margin-right: 100px;
}

.help-text1 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}

.help-text2 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 1);
}

.help-call-content a {
  text-decoration: none;
  font-size: 42px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

/* how-to */

.how-to-content {
  margin-bottom: 100px;
}

.content-flex {
  display: flex;
  justify-content: center;
}

.content-flex div {
  border: 1px solid rgba(47, 43, 67, 0.15);
  border-radius: 20px;
  padding: 40px 35px;
  display: flex;
  width: 50%;
  margin-bottom: 20px;
  margin-right: 20px;
}

.how-to-content h2 {
  margin-bottom: 30px;
}

.content-flex div img {
  margin-right: 20px;
}

.content-flex div p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.content-flex div span {
  font-size: 15px;
  font-weight: 700;
}

/* Why */

.why {
  margin-bottom: 80px;
}

.why-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.why-content-items h2 {
  margin-bottom: 20px;
}

.why-content-text {
  margin-bottom: 30px;
  width: 560px;
  color: rgba(20, 10, 50, 1);
  font-size: 16px;
  font-weight: 400;
}

.why-content-facts {
  display: flex;
  justify-content: space-between;
}

.why-content-facts p {
  color: green;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.why-content-facts span {
  color: rgba(20, 10, 50, 1);
}

.why-green {
  display: flex;
  align-items: center;
  padding: 50px 60px;
  background-color: rgba(51, 131, 110, 1);
  border-radius: 20px;
  margin-top: -5px;
}

.why-green div {
  margin-right: 226px;
  width: 320px;
}

.why-green div:last-of-type {
  margin-right: 0px;
  width: 471px;
}

.why-green p:first-child {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}

.why-green-number {
  font-size: 42px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

.why-green h3 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
}

.why-input {
  display: flex;
  margin-bottom: 22px;
}

.why-input input {
  margin-right: 15px;
  height: 56px;
  width: 249px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
}

.why-input a {
  text-decoration: none;
  padding: 15px 20px 0px 20px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
  color: #fff;
  text-align: center;
  width: 207px;
  height: 56px;
}

.why-green p {
  font-size: 12;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
}

/* Special */

.special {
  margin-bottom: 80px;
}

.special h2 {
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 700;
}

.special-inner {
  display: flex;
  flex-wrap: wrap;
}

.special-cart {
  width: 48%;
  margin-bottom: 20px;
  margin-right: 20px;
  border: 1px solid rgba(47, 43, 67, 0.15);
  border-radius: 20px;
  padding: 20px;
}

.special-cart:nth-child(even) {
  margin-right: 0;
}

.special-cart div {
  display: flex;
  margin-bottom: 10px;
}

.special-cart img {
  height: 24px;
  margin-right: 15px;
}

.special-cart h3 {
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid rgba(51, 131, 110, 1);
}

.special-cart p {
  font-size: 14px;
  font-weight: 400;
  color: rgba(47, 43, 67, 0.7);
}

/* Question */

.question {
  margin-bottom: 80px;
}

.question-block {
  display: flex;
  position: relative;
  background-color: rgba(47, 43, 67, 0.04);
  border-radius: 20px;
}

.question-block h2 {
  padding: 65px 0px 61px 0px;
  width: 370px;
  margin-right: 50px;
  margin-left: 53px;
}

.question-input {
  margin-top: 60px;
}

.question-input div {
  display: flex;
  margin-bottom: 18px;
  width: 423px;
  height: 56px;
}

.question-input div input {
  margin-right: 15px;
  height: 56px;
  width: 249px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
}

.question-input div a {
  text-decoration: none;
  padding: 15px 20px 0px 20px;
  background-color: rgba(51, 131, 110, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
  color: #fff;
  text-align: center;
  width: 207px;
  height: 56px;
}

.question-input p {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.34px;
  color: rgba(47, 43, 67, 0.4);
  width: 293px;
}
